# Python実行時に自動生成されるバイトコード(.pyc)を格納するフォルダ
__pycache__/

# コンパイル済みのPythonバイトコードファイル
*.pyc

# Javaファイルをコンパイルしたときに生成されるバイトコードファイル
*.class

# 実行時にプログラムがログ出力として生成したテキストファイル
debug.log

# 個人的なメモ、機密情報を入れるダミーファイル
secret.txt

# 一時的な作業ファイルや下書きを入れるフォルダ
tmp/
